* {
    box-sizing: border-box;
}

#nametag_container {
    width: 500px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    background: lightgray;
    color: white;
    font-family: 'Anton', sans-serif;
    text-align: center;
    letter-spacing: 0.25em;
}

.red_top {
    background: red;
    width: 97%;
    height: 35%;
    margin-top: 1.5%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    border-radius: 1em 1em 0 0;
}

.white_mid {
    background-color: white;
    color: #3d3d3d;
    width: 97%;
    height: 45%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    vertical-align: middle;
}

.red_bottom {
    background-color: red;
    width: 97%;
    height: 15%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 1.5%;
    border-radius: 0 0 1em 1em;
}

h1 {
    margin: 2.5% 0 0 0;
    font-size: 50px;
    letter-spacing: 0.5em;
}

p.name_is {
    margin: 0 0 2.5% 0;
    font-size: 20px;
}

p.name {
    font-family: 'Permanent Marker', cursive;
    font-size: 80px;
    letter-spacing: 0.25em;
    margin: 2.5%;
    height: 100%;
}

p span {
    position: relative;
    left: 185px;
    bottom: 250px;
    font-size: 50px;
}